<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Photogur</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet">
  </head>
  <body>
    <header class="site-header">
      <h1>Photogur</h1>
      <form action="{% url 'picture_search' %}" method="get">
        <label for="picture-search">
          <span>Search:</span>
          <input type="search" id="picture-search" name="query" value={{query}}>
        </label>

        <input type="submit" value="Search">
      </form>
    </header>
    <main class="site-content">
    <!-- page-specific content goes inside the block -->
    {% block content %}
    {% endblock %}
    </main>
    <footer class="site-footer">
      Copyright 2019 Anton Moiseev
    </footer>
  </body>
</html>
